{%load static%}
{% load tailwind_tags %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   
    {% tailwind_preload_css %}
    {% tailwind_css %}

</head>
<body class="min-h-screen bg-white flex items-center justify-center">
  <main class="text-center px-6 py-24 sm:py-32 lg:px-8">
    <p class="text-base font-semibold text-indigo-600">404</p>
    <h1 class="mt-4 text-5xl font-semibold tracking-tight text-gray-900 sm:text-7xl">Page not found</h1>
    <p class="mt-6 text-lg text-gray-500">Sorry, but your data is not ready yet.Please come back in some time</p>
    <div class="mt-10 flex items-center justify-center gap-x-6">
      <a href="/your data is loading..." class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Go back</a>
    </div>
  </main>
</body>
</html>