{% load static %}
{% load tailwind_tags %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% tailwind_preload_css %}
    {% tailwind_css %}

</head>

<body class="min-h-screen bg-cover bg-center relative"
    style="background-image: url({% static 'css/dist/ddblurred.png' %}); ">
    <div class=" relative z-10 min-h-screen flex items-center justify-center px-6 pt-14 lg:px-8">
        <div class="flex flex-wrap justify-center mt-10">

            <!-- card 1 -->
            <div class="p-4 max-w-sm">
                <div class="flex rounded-lg h-full dark:bg-gray-800 bg-teal-400 p-8 flex-col">
                    <div class="flex items-center mb-3">
                        <div
                            class="w-8 h-8 mr-3 inline-flex items-center justify-center rounded-full dark:bg-indigo-500 bg-indigo-500 text-white flex-shrink-0">
                            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                                <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
                            </svg>
                        </div>
                        <h2 class="text-white dark:text-white text-lg font-medium"> Get All Company Information in One
                            Go</h2>
                    </div>
                    <div class="flex flex-col justify-between flex-grow">
                        <p class="leading-relaxed text-base text-white dark:text-gray-300">
                            Need to find something like “Technical companies in Bangalore”? Just enter your search, and
                            my tool will give you a detailed list of all relevant companies — including their address,
                            phone number, Google Maps link, website, email, and even LinkedIn profiles. You’ll get
                            everything in a downloadable CSV file so you can explore, filter, or format the data however
                            you want. (Pro tip: extend the columns for a cleaner view!)
                        </p>

                    </div>
                </div>
            </div>

            <!-- card 2 -->
            <div class="p-4 max-w-sm">
                <div class="flex rounded-lg h-full dark:bg-gray-800 bg-teal-400 p-8 flex-col">
                    <div class="flex items-center mb-3">
                        <div
                            class="w-8 h-8 mr-3 inline-flex items-center justify-center rounded-full dark:bg-indigo-500 bg-indigo-500 text-white flex-shrink-0">
                            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                                <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
                            </svg>
                        </div>
                        <h2 class="text-white dark:text-white text-lg font-medium"> Get Only What You Need</h2>
                    </div>
                    <div class="flex flex-col justify-between flex-grow">
                        <p class="leading-relaxed text-base text-white dark:text-gray-300">
                            Want only company names? Or maybe names and just their LinkedIn links? With this feature,
                            you can customize exactly what data you want to pull. Whether it's one field or a few, the
                            tool will fetch it for you. Keep in mind — it might take the same amount of time as the full
                            info scrape, but it gives you laser-focused results.<br>Not selecting anything will just give you the company names!

                        </p>

                    </div>
                </div>
            </div>

            <!-- card 3 -->
            <div class="p-4 max-w-sm">
                <div class="flex rounded-lg h-full dark:bg-gray-800 bg-teal-400 p-8 flex-col">
                    <div class="flex items-center mb-3">
                        <div
                            class="w-8 h-8 mr-3 inline-flex items-center justify-center rounded-full dark:bg-indigo-500 bg-indigo-500 text-white flex-shrink-0">
                            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                                <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
                            </svg>
                        </div>
                        <h2 class="text-white dark:text-white text-lg font-medium">Search By Company Name</h2>
                    </div>
                    <div class="flex flex-col justify-between flex-grow">
                        <p class="leading-relaxed text-base text-white dark:text-gray-300">
                            Already know the company name? You can enter it directly and get all its details — like
                            address, email, website, and more — in about 60 seconds. Sure, it's easier to search up a
                            single company manually, but if you’re multitasking or just want to save time, this
                            feature’s for you. (Though, for best results, features 1 and 2 are more powerful!)
                        </p>

                    </div>
                </div>
            </div>




        </div>
    </div>
</body>

</html>